* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid; */
}

body {
  margin: 0px;
  height: 2000px;
  background-color: #111;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
